.single-follower-item{
    padding: 20px 0;
    border-bottom: 1px solid #e1e4e8 !important;
    display: flex;
    align-items: center;
    position: relative;
}
.single-follower-item img{
    width: 75px;
    height: 75px;
    font-size: 12px;
    font-family: 'OpenSans';
}
.single-follower-item h3{
    font-family: 'Montserrat-Light';
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    color: #24292e;
    transition: 0.2s all;
}
.single-follower-item h3:hover{
    color: #0366d6;
}
.single-follower-item  .user-details{
    background-color: red;
    position: absolute;
    width: 300px;
    height: 100px;
    top: -60px;
    left: 95px;
}
.single-follower-item .user-details .details-container{
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat-Regular';
}
.empty{
    font-family: 'Montserrat-Bold';
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}