.displayPannel{
    width: 100%;
    background-color: white;
    height: 90vh;
    overflow-y: auto;
    margin-right: -5%;
}
.displayPannel .container{
    width: 90%;
    display: flex;
    flex-direction: column;
}