.displayPannel{
    width: 72%;
    background-color: white;
    height: 91vh;
    overflow-y: auto;
}
.displayPannel .container{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.displayPannel .single-result-item{
    background-color: red;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}
.displayPannel .single-result-item figure{
    height: 50px;
    width: 50px;
}