ul{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 25px 0;
    /* margin-top: 25px; */
}
ul .active{
    border-left: 4px solid red !important;
    transition: 0s;
    font-weight: 600 !important;
    color : #24292e !important;
    cursor: default !important
}
ul .active:hover{
    background-color: #FFF !important;
}
ul .menu-selection{
    background-color: #FFF;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #e1e4e8;
    transition: 0.2s all;
    font-family: 'Montserrat-Light';
    font-weight: 300;
    color: #0366d6;
    font-size: 14px;
}
ul .menu-selection:hover{
    background-color: #f6f8fa;
}