.single-repo-list-item{
    margin: 10px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #e1e4e8;
}
.single-repo-list-item h3{
    cursor: pointer;
    font-family: 'Montserrat-Light';
    color: #0366d6;
    margin-bottom: 5px;
}
.single-repo-list-item h3:hover{
    text-decoration: underline;
}
.single-repo-list-item p{
    font-size: 14px;
    font-family: 'Montserrat-Light';
    color: #000;
    margin-bottom: 5px;
}
.single-repo-list-item .other-details{
    display: flex;
}
.single-repo-list-item .other-details span{
    font-size: 12px;
    font-family: "OpenSans";
    font-weight: 300;
}